.guidelines-page .hero {
    padding: 90px 90px;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.guidelines-page .hero-content {
    max-width: 700px;
    padding-right: 40px;
}

.guidelines-page .hero-image {
    max-width: 600px;
}

.guidelines-page .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

/* How to Donate Box */
.how-to-donate-box {
    width: 100%;
    background-color: #5FAB7D;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.how-to-donate-box h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
}
